<style type="text/css">
	.item{
		color: #000;
	}
</style>
<ion-modal-view style="height: 165px;min-height: 166px;margin-top: 95px;">
	  
        <ion-content style="height: 165px; margin-top: 8px;">
            <ion-list>
                <ion-item>
                	好评优先
                </ion-item>
                 
                 <ion-item>
                	距离最近
                </ion-item>
                 <ion-item>
                人气最高
                </ion-item>
            </ion-list>
      
        </ion-content>
       
</ion-modal-view>
<ion-item style="background: rgba(0,0,0,0.3);margin-top: 195px;height: 700px;">
	
</ion-item>