<style type="text/css">
	.item{
		color: #000;
	}
</style>
<ion-modal-view style="height: 320px;min-height: 320px;margin-top: 95px;">
	  
        <ion-content style="height: 320px; margin-top: 8px;">
            <ion-list>
                <ion-item>
                	全部
                </ion-item>
                 <ion-item>
                	高新技术开发区
                </ion-item>
                 <ion-item>
                	二七区
                </ion-item>
                 <ion-item>
                	中原区
                </ion-item>
                 <ion-item>
                	新郑市
                </ion-item>
                 <ion-item>
                	金水区
                </ion-item>
            </ion-list>
      
        </ion-content>
       
</ion-modal-view>
<ion-item style="background: rgba(0,0,0,0.3);margin-top: 400px;height: 300px;">
	
</ion-item>