<ion-header-bar id="title_top" class="bar-royal">
    <button class="button button-clear">
        <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">选择银行卡</h1>
    <button class="button button-clear">
        添加
    </button>
</ion-header-bar>

<ion-content>
    <ion-list class="radio-group item-avatar-left">
        <ion-radio ng-model="choice" ng-value="A">
            <img src="img/S14.png" alt="">
            中国工商银行 <br>
            <span style="color: #ccc">尾号7625储蓄卡</span>
            <i class="radio-icon ion-ios-circle-filled ion-checkmark assertive"></i>
        </ion-radio>
        <ion-radio ng-model="choice" ng-value="B">
            <img src="img/S15.png" alt="">
            中国光大银行 <br>
            <span style="color: #ccc">尾号7625储蓄卡</span>
            <i class="radio-icon ion-ios-circle-filled ion-checkmark assertive"></i>
        </ion-radio>
        <ion-radio ng-model="choice" ng-value="C">
            <img src="img/S16.fw.png" alt="">
            中国建设银行 <br>
            <span style="color: #ccc">尾号7625储蓄卡</span>
            <i class="radio-icon ion-ios-circle-filled ion-checkmark assertive"></i>
        </ion-radio>
    </ion-list>


    <!--<ion-list>-->

    <!--<label class="item">-->
    <!--<input type="radio" name="group" checked>-->
    <!--<span class="item-content">中国工商银行</span>-->
    <!--<button class="button button-clear item-button-right">-->
    <!--<i class="radio-icon ion-ionic assertive"></i>-->
    <!--</button>-->

    <!--</label>-->

    <!--<label class="item">-->
    <!--<input type="radio" name="group">-->
    <!--<span class="item-content">中国光大银行</span>-->
    <!--<i class="radio-icon ion-ionic"></i>-->
    <!--</label>-->

    <!--<label class="item">-->
    <!--<input type="radio" name="group">-->
    <!--<span class="item-content">中国建设银行</span>-->
    <!--<i class="radio-icon ion-ionic"></i>-->
    <!--</label>-->

    <!--</ion-list>-->

    <!--<ion-list>-->

    <!--<ion-radio >-->
    <!--中国建设银行-->
    <!--<i class="radio-icon ion-ionic"></i>-->
    <!--</ion-radio>-->
    <!--<ion-radio >中国建设银行</ion-radio>-->
    <!--<ion-radio >中国建设银行</ion-radio>-->

    <!--</ion-list>-->
</ion-content>


<style>
    body {
        background-color: #f2f2f2;
    }

    #title_top {
        background-image: url("img/bg.fw.png");
        background-size: cover;
    }
</style>